<div>
  <h1>CSV importer</h1>
  <p>This is a simple demo of a CSV importer</p>
  <p>Example CSV file to be imported to model can be found in root/csv</p>
</div>
<div class="m-4 card">
  <div class="form p-5">
    <%= form_tag import_path, multipart: true, class: "p-2" do %>
      <div class="p-2">
        <label for="import_file" class="file-field">
          <%= file_field_tag :import_file, class: "full-width" %>
          Custom upload file
        </label>
      </div>
      <%= submit_tag "Import", class: "mt-3 btn p-2 full-width btn-dark" %>
    <% end %>
  </div>
</div>

<div class="table mt-5 ml-2">
  <table>
    <thead>
      <tr class="first">
        <th class="id">ID</th>
        <th>Firstname</th>
        <th class="last">Lastname</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.empty? %>
      <tr>
        <td colspan="3" class="last">There are no users in the database</td>
      </tr>
      <% else %>
        <% @users.each do |user| %>
          <tr class="p-5">
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td class="last"><%= user.last_name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<div>
  <% User.first.import_files.each do |f| %>
    <%= f.filename %>
  <% end %>
</div>
