body {
  width: 100%;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  font-family: Alegreya, Optima;
  font-size: $font-size-35;
  color: $text-heading-color;
}

p {
  font-family: Perpetua;
  font-size: $font-size-18;
  color: $text-color;
}

a {
  text-decoration: none;
}
