.table { box-shadow: inset 1px 1px 3px $shadow-color-inset, 5px 5px 5px $shadow-color-outset; border-radius: $radius-standard }
.table tr { border-top: 1px solid grey; }
.table th, .table td { padding: 5px 10px 5px; width: $width-200; text-align: left; border-right: 1px dotted; }
.table .id { width: $width-40; }
.table th { color: $text-heading-color; border-color: $dark; }
.table td { border-color: $text-color; }
.table .last { border-right: none; }
.table .first { border-top: none; }
