<%= form_with(model: import, local: true, class: "p-2") do |form| %>
  <% if import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
        <% import.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-2">
    <label for="<%= form.object_name %>_import_file" class="file-field">
      <%= form.file_field :import_file, class: "full-width" %>
      <span >Custom upload file</span>
    </label>
  </div>
  <div>
    <%= form.submit "Import file", class: "mt-3 btn p-2 full-width btn-dark" %>
  </div>
<% end %>
