<div>
  <h1>CSV importer</h1>
  <p>This is a simple demo of a CSV importer</p>
  <p>Example CSV file to be imported to model can be found in root/csv</p>
</div>
<div class="m-4 card">
  <div class="form p-5">
    <%= render 'form', import: @import %>
  </div>
</div>

<%= render 'imports/partials/list_of_imports' %>

<%= render 'imports/partials/list_of_users' %>

