<div class="table mt-5 ml-2">
  <table>
    <thead>
      <tr class="first">
        <th class="id">ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Filename</th>
        <th class="last">URL</th>
      </tr>
    </thead>
    <tbody>
      <% if @imports.empty? %>
      <tr>
        <td colspan="3" class="last">There are no files in the database</td>
      </tr>
      <% else %>
        <% @imports.each do |import| %>
          <tr class="p-5">
            <td><%= import.id %></td>
            <td><%= import.created_at.strftime("%C.%b %Y") %></td>
            <td><%= import.created_at.strftime("%H:%M") %></td>
            <td><%= import.import_file.filename %></td>
            <td class="last"><%= url_for(import.import_file) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
