<div class="table mt-5 ml-2 pl-2">
  <table>
    <thead>
      <tr class="first">
        <th class="id">ID</th>
        <th>Firstname</th>
        <th class="last">Lastname</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.empty? %>
      <tr>
        <td colspan="3" class="last">There are no users in the database</td>
      </tr>
      <% else %>
        <tr>
          <td colspan="3" class="last">There are <%= @users.count %> users.</td>
        </tr>
        <% @users.each do |user| %>
          <tr class="p-5">
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td class="last"><%= user.last_name %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
