/* Custom styles goes here before moved to own partial */

.flash {

  padding: $size-3;
  border-radius: $radius-standard;
  text-align: center;
  color: $light;
  margin-left: 8px;
  margin-top: 14px;
  margin-bottom: 15px;
}

.alert {
  background: #e35454;
  box-shadow: 5px 5px 5px $color-redish-shadow, inset 1px 1px 3px $color-redish-shadow-inset;
}

.notice {
  background: #009339;
  box-shadow: 5px 5px 5px $color-greenish-shadow, inset 1px 1px 3px $color-greenish-shadow-inset;
}


.shadow-green {
  box-shadow: 0 0 30px $color-greenish-shadow
}
