<!DOCTYPE html>
<html>
  <head>
    <title>SidekiqDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="sidebar">
      <%= render partial: "layouts/partials/sidebar" %>
    </div>
    <div class="content">

      <% flash.each do |type, msg| %>
        <% if type="notice" %>
          <div class="flash notice">
        <% else %>
          <div class="flash alert">
        <% end %>
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
